#!/usr/bin/make -f

export DEB_CPPFLAGS_MAINT_APPEND := $(shell dpkg-buildflags --get CPPFLAGS)
export DEB_CFLAGS_MAINT_APPEND := $(shell dpkg-buildflags --get CPPFLAGS)

override_dh_auto_configure:
	dh_auto_configure -Skde -- -DCMAKE_USE_RELATIVE_PATHS=ON

override_dh_shlibdeps:
	dh_shlibdeps
	dh_sameversiondep

%:
	dh $@ --parallel --with kde -- --dbg-package=libktorrent-dbg 

.PHONY: override_dh_auto_test
